[submodule "buildroot"]
	path = buildroot
	url = ./buildroot
[submodule "src/linux-friedegg"]
	path = src/linux-friedegg
	url = ./src/linux-friedegg
[submodule "src/uboot-friedegg"]
	path = src/uboot-friedegg
	url = ./src/uboot-friedegg
